<h1>Welcome to Bloccit! I hope you have fun time in my program yes</h1>
<p id="index-title">Here on this page you are on is homepage for Bloccit</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element </section>

